
/*form*/
input[type="text"], input[type="email"],input[type="tel"],input[type="password"], textarea, select {
	//   direction: rtl !important;
	  color: $main;
	  font-size: 1.8rem;
	  line-height: 1.8;
	  background-color: $white;
	  background-size: 1.8rem;
	  background-position: calc(100% - 11px) center;
	  background-repeat: no-repeat;
	  padding: 1rem;
	  padding-right: 1.5rem;
	  border: none;
	  border-radius: 1rem;
	  //box-shadow: 0 0 10px rgba(0,0,0,0.5);
	  font-family: 'Nunito', sans-serif;
	}
	input[type="email"] {
	//   background-image: url(../icons/email.png);
	
	}
	input[type="tel"] {
	//   background-image: url(../icons/tel-form.png);
	}
	select{
	//   background-image: url("../icons/chat.png");
	}
	input[type="text"] {
	//   background-image: url(../icons/name.png);
	}
	
	input[type="tel"]::placeholder,
	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder
	{
	  font-size: 1.6rem;
	  color: $main !important;
	}
	.formColumn{
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}