@import "../assets/styles/vars";

.mainContent{
	width: 100%;
	.tasks_wrap{
		flex: 3;
		margin: 2rem;
		
	}
	.sidebar_filter{
		flex: 0.7;
		min-height: 100vh;
		background-color: $main;
		color: $white;
		padding: 2rem;
		.filter_item{
			padding: 2rem 0;
			border-bottom: 1px solid $white;
			h3{
				color: $accent;
				margin-bottom: 1rem;
			}
			.filter_item-inner{
				display: flex;
				flex-wrap: wrap;
				gap: 0 1rem;
				label> input{
					margin-right: 0.5rem;
				}
			}
		}
		

	}
}
.arr_item{
	min-height: 4rem;
	padding: 2rem;
	
	.card__inner{
		border: 1px solid $main;
		border-radius: 2rem;
		height: 20rem;
		width: 20rem;
		padding: 1rem;
		cursor: pointer;
		overflow: hidden;
		
		a{
			display: flex;
			flex-direction: column;
			.card__title{
				color: $accent;
				text-align: center;
				font-weight: 600;
				font-size: 2.2rem;
				margin-bottom: 1rem;
				text-shadow: 0px 0px 1px black;
			}
			.task__thumb{
				flex-grow: 1;
				width: 100%;
				height: 14rem;
				img{
					max-height: 100%;
					margin: 0 auto;
					display: block;
				}
				// object-fit: cover;
			}
		}
		

	}
	&.no-active{
		opacity: 0.5;
		cursor: auto;
		pointer-events: auto;
		&:hover{
			box-shadow: none;
		}

	}
}

.table_data{
	svg{
		width: 4rem;
	}
	.item_title{
		width: 20rem;
		input{
			width: 100%;
		}
	}

}
.main{
	flex: 1;
}
.add_tasks__wrap{
	.select{
		flex:1;
	}
	.add_tasks__inner{
		padding: 2rem;
		flex:3;
		border: 1px solid $main-light;
		height: 40rem;
		border-radius: 1rem;
		flex-wrap: wrap;
		align-items: start;
		overflow-y: scroll;
	}
}
.task_data{
	.task_data-item{
		margin-top: 2rem;
		display: flex;
		gap: 1rem;
		.label{
			display: block;
			min-width: 15rem;
			max-width: 15rem;
			width: 100%;
			
		}
		.label_img{
			display: flex;
			flex-direction: column;
			cursor: pointer;
			.top{
				input{
					margin-right: 1rem;
				}
			}
			img{
				width: 14rem;
				height: 10rem;
				border: 1rem solid $accent;
				border-radius: 1rem;
			}
		}
	}
}
.task_status svg{
	width: 2rem;
	height: 2rem;

}
.btn_sort{
	border: 1px solid transparent;
	&.active{
		border: 1px solid $main;
	}
}

.help_teacher__item{
	padding: 3rem;
	border-radius: 2rem;
	&.left-item{
		h3{
			color: $accent;
			margin-bottom: 1rem;
		}
		background-color: $main;
		color: $white;

	}
	&.right-item{
		background-color: $main-light;
		li>svg{
			width: 35px;
			height: 35px;
			border: 1px solid red;
		}
	}
}
.article__wrap{
	img{
		height: 30rem;
		display: block;
		margin: 0 auto;
		max-height: 36rem;
    width: auto;
    display: block;
	}
	.article__text{
		text-align: justify;
	}

}
.editorContainer.art{
	width: 100%;
}
.arts__wrap{
	.art__item{
		padding: 2rem;
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		&:hover{
			transform: translateY(-15px);
			transition: all 0.5s;
			border: 1px solid $main-light;
		}
	}
}
.popup_content{
	.mid{
		.user__item{
			border-bottom: 1px solid;
		}
		.label{
			display: block;
			font-style: italic;
			width: 40%;
			line-height: 1.5;

		}
		.userData{
			display: block;
			width: 60%;
			font-weight: 600;
		}
	}
}
.statistic {
	max-width: 100%;
	overflow-x: auto;
	table{
		h5{
			font-size: 2.2rem;
			color: $accent;
			
		}
		.col{
			margin-right: 1.5rem;
		}
		th{
			border-bottom: 1px solid $accent;
		}
		.stud_list{
			width: 16rem;
		}
		.task-title__wrap{
			li{
				width: 16rem;
				.task_title{
					font-size: 1.8rem;
				}
				p{
					font-size: 1.5rem;
					color: $success;
				}
			}
		}
		
	}
	.table_item{
		border-bottom: 1px solid $main;
		margin-bottom: 2rem;
		background-color: #f5f5f5;
  color: #333;
	
	}
}
.table_block{
	display: block;
	thead, tbody{
		display: block;
	}
}
.flex-container {
  display: flex;
  align-items: flex-start;
}

.left-column {
  flex: 1;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.pagination {
	button:disabled{
		cursor: default;
	}
	.pagination-numbers{
		display: flex;
		gap: 1rem;
		button.active{
			font-size: 2rem;
			text-decoration: underline;
		}
	}
}
