@import "../assets/styles/vars";

.mainContent{
	width: 100%;
	.tasks_wrap{
		flex: 3;
	}
	.sidebar_filter{
		flex: 1;
	}
}
.table_data{
	svg{
		width: 4rem;
	}
	.item_title{
		width: 20rem;
		input{
			width: 100%;
		}
	}

}
.main{
	flex: 1;
}
.sidebar_filter{
	width: 30rem;
	border: 1px solid pink;
}