@import "../assets/styles/vars";
.sidebar{
	background-color: $main-dark;
	width: 30rem;
	min-height: 100vh;
	padding-top: 3rem;
	.sidebarLink a{
		font-size: 2.3rem;
			padding: 1.5rem;
			&:hover, &.active{
				transition: all 0.3s;
				background-color: $white;
				color: $main;
			}
		
	} 
	a{
		line-height: 1;
	}
	.userSection{
		padding-left: 2rem;
		padding-right: 2rem;
		color: white;
		.user__logo img{
			width: 10rem;
			height: 10rem;
			object-fit: cover;
			border-radius: 50%;
			object-position: center;
		}
		.userSection__btns{
			.userSection__btn{
				margin-right: 0.5rem;
				
			}
		}
		.sidebar__icon{
			// fill: $white;
    		width: 2.5rem;
			height: 2.5rem;
			path{
				stroke:$white;
				fill: none
			}
			
			
		}
	}
}
.auth{
	width: 64rem;
	background-color: $accent;
	margin: 0 auto;
	padding: 3rem 5rem;
	border-radius: 2rem;
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	form{
		display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
	}
}
.slogan{
	font-family: 'Cabin Sketch', cursive;
	font-size: 5rem;
	color: $main-dark;
}
footer{
	background-color: $main-light;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.info__wrap{
	position: relative;
	.info__inner{
		position: absolute;
    background-color: #fdde8d;
    padding: 2rem;
    width: 50rem;
    border-radius: 2rem;
    border: 2px solid;
    z-index: 9;
	}
}