@import "assets/styles/vars";
@import "assets/styles/responsive";
@import "assets/styles/setup";

a{
	color: inherit;
}
.msg_block{
	height: 3rem;
}
.back{
	padding-left: 7px;
	span{
		font-size: 1.8rem;
	}
}
.counter{
	display: inline-block;
	 width: 3rem;
}
.mr4{
	margin-right: 4rem;
}
.class_item.title{
	font-weight: 600;
	font-size: 2.1rem;
	border-bottom: 3px solid;
}
.table_item{
	// border-bottom: 1px solid #ccc;
	// padding: 2rem;
	&.title{
		padding-right: 4rem;
		// border-bottom: 3px solid #ccc;

		.table_elem{
			font-weight: 600;
		}
	}
}
.table{
	flex-grow: 1;
}
.class_item{
	border-bottom: 1px solid;
	padding: 1rem 2rem;
	&:nth-child(2n){
		background-color: $gray-light;
	}
}


.table_elem {
  flex: 1;
  padding: 5px;
  
}
.small{
	flex: 0.1;
}

.big svg{
	// max-width: 12rem;
	// max-height: 12rem;
	width: 100%;
	// height: 100%;
	height: 12rem;
	&:hover{
		transform: scale(1.04);
		transition: all 1s;
	}

}
.big a{
	max-width: 12rem;
	max-height: 12rem;
	width: 100%;
	height: 100%;
}
.folder__wrap{
	padding: 0 2.5rem;
	.folder{
		position: relative;
		cursor: pointer;
		margin: 0 auto;
		align-items: center;
		padding-right: 3rem;
		.icons__wrap{
			position: absolute;
			right: 0;
			svg{
				width: 2.5rem;
				height: 2.5rem;
			}
		}
		input{
			width: 12rem;
			background-color: transparent;
			padding: 0;
		}
		.input_error{
			position: absolute;
			bottom: 0;
			width: 14rem;
			color: red;
			transform: translateY(100%);
		}
		.folder__edit{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.tab-list{
	display: flex;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-bottom: 1px solid gray;
	li, .tab-item{
		color: gray;
		cursor: pointer;
		font-size: 2rem;
		padding: 1rem 2rem;
		border-right: 1px solid gray;
		border-left: 1px solid gray;
    border-top: 1px solid gray;
    
		&.active{
			color: $accent;
			text-decoration: underline;
			text-shadow: 0 0 black;
			background-color: $main;
		}

	}
}
.tab-content{
	padding: 2rem;
	.inactive{
		opacity: 0.5;
	}
	&>div{
		padding: 1rem 2rem;
	}
	&>div:nth-child(2n){
		background-color: $gray-light;
		
	}
	.table_item {
		
		span{
			font-weight: 600;
		}
	}
}
.input_error{
	color: $error;
}
span.accent{
	font-weight: 600;
	color: $blue;
}
.ql-editor{
	p{
		font-weight: 300;
	}
	strong{
		font-weight: 600;
	}
}
button.link{
	font-family: Nunito, sans-serif;
	font-size: 1.8rem;
	&:hover{
		color: $green-light;
		transition: all 0.3s;
	}
}
.w4{
	width: 4rem;
}
.btn_main button{
	color: $main;
}
h1,h2,h3,h4{
	&.center{
		text-align: center;
	}
}
.menu{
	margin-right: 3rem;
	a{
		font-weight: 600;
		&:hover{
			transition: all 0.3s;
			color: $accent;
		}
	}
}
.tab2{
	button{
		color: $green-main2;
		font-size: 1.8rem;
		padding-bottom: 0.5rem;
		&.active{
			color: $success;
			
			border-bottom: 1px solid;
		}
	}
}
.delete_user{

	button{
		color: $error;
		font-weight: 600;
		padding: 2rem;
	}
}
.pagination{
	justify-content: center;
}
.task-status{
	svg{
		width: 2rem;
		height: 2rem;
	}
}