html{
  transition: font-size .5s;
  font-size: 62.5% !important;
}
.rb{border: 1px solid red;}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rtl{direction: rtl;}
:focus{text-decoration: none;}
a{
	text-decoration: none;
}
.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  &.img-cover{
	background-size: cover;
  }
  &.img-contain{
	background-size: contain;
  }
}
button{
	cursor: pointer;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
}
button:focus{outline: none!important;}
.sticky{
  transition: all .5s;
  &.fixed{
	position: fixed !important;
	left: 0;
	top: 0;
	width: 100%;
	background-color: $white;
	z-index: 99999;
	animation-name: stickyHeader;
	animation-duration: 0.5s;
	.h_logo{
	  margin-right: 3rem;
	}
  }
}
@keyframes stickyHeader {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  overflow-x: hidden;
  font-size: 1.8rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $main;
  line-height: 1.4;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

@-webkit-keyframes flipInY {
  0% {
	-webkit-transform: perspective(400px) rotateY(90deg);
	opacity: 0;
  }
  40% {
	-webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
	-webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
	-webkit-transform: perspective(400px) rotateY(0deg);
	opacity: 1;
  }
}
@keyframes flipInY {
  0% {
	-webkit-transform: perspective(400px) rotateY(90deg);
	transform: perspective(400px) rotateY(90deg);
	opacity: 0;
  }
  40% {
	-webkit-transform: translateX(100%) perspective(400px) rotateY(-10deg);
	transform: translateX(100%) perspective(400px) rotateY(-10deg);
  }
  70% {
	-webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
	transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
  }
  100% {
	-webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
	transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
	opacity: 1;
  }
}


/*custom settings*/
.d-flex{
	display: flex;
}
.f-column{
	flex-direction: column;
}
.jcsb{
	justify-content: space-between;
}
.jcc{
	justify-content: center;
}
.jce{
	justify-content: end;
}
.aic{
	align-items: center;
}
.mt17{
  margin-top: 17rem;
}
.mt14{
  margin-top: 14rem;
}
.mt13{
  margin-top: 13rem;
}
.mt12{
  margin-top: 12rem;
}
.mt11{
  margin-top: 11rem;
}
.mt10{
  margin-top: 10rem;
}
.mt9{
  margin-top: 9rem;
}
.mt8{
  margin-top: 8rem;
}
.mt7{
  margin-top: 7rem;
}
.mt6{
  margin-top: 6rem;
}
.mt5{
  margin-top: 5rem;
}
.mt4{
  margin-top: 4rem;
}
.mt3{
  margin-top: 3rem;
}
.mt2{
  margin-top: 2rem;
}
.mt1{
  margin-top: 1rem;
}

.mb14{
  margin-bottom: 14rem;
}
.mb13{
  margin-bottom: 13rem;
}
.mb12{
  margin-bottom: 12rem;
}
.mb11{
  margin-bottom: 11rem;
}
.mb10{
  margin-bottom: 10rem;
}
.mb9{
  margin-bottom: 9rem;
}
.mb8{
  margin-bottom: 8rem;
}
.mb7{
  margin-bottom: 7rem;
}
.mb6{
  margin-bottom: 6rem;
}
.mb5{
  margin-bottom: 5rem;
}
.mb4{
  margin-bottom: 4rem;
}
.mb3{
  margin-bottom: 3rem;
}
.mb2{
  margin-bottom: 2rem;
}
.mb1{
  margin-bottom: 1rem;
}
.ml15{
  margin-left: 1.5rem;
}
.mr_15{
  margin-right: -15px;
}
.mr15{
  margin-right: 15px;
}
.pt26{
  padding-top: 26rem;
}
.pt14{
  padding-top: 14rem;
}
.pt13{
  padding-top: 13rem;
}
.pt12{
  padding-top: 12rem;
}
.pt11{
  padding-top: 11rem;
}
.pt10{
  padding-top: 10rem;
}
.pt9{
  padding-top: 9rem;
}
.mr2{
  margin-right: 2rem;
}
.ml2{
  margin-left: 2rem;
}
.t_mr5{
  h1,h2,h3,h4,h5{
	margin-right: 5rem;
  }
}

.pt8{
  padding-top: 8rem;
}
.pt7{
  padding-top: 7rem;
}
.pt6{
  padding-top: 6rem;
}
.pt5{
  padding-top: 5rem;
}
.pt4{
  padding-top: 4rem;
}
.pt3{
  padding-top: 3rem;
}
.pt2{
  padding-top: 2rem;
}
.pt1{
  padding-top: 1rem;
}

.pb27{
  padding-bottom: 27rem;
}
.pb16{
  padding-bottom: 16rem;
}
.pb14{
  padding-bottom: 14rem;
}
.pb13{
  padding-bottom: 13rem;
}
.pb12{
  padding-bottom: 12rem;
}
.pb11{
  padding-bottom: 11rem;
}
.pb10{
  padding-bottom: 10rem;
}
.pb9{
  padding-bottom: 9rem;
}
.pb8{
  padding-bottom: 8rem;
}
.pb7{
  padding-bottom: 7rem;
}
.pb6{
  padding-bottom: 6rem;
}
.pb5{
  padding-bottom: 5rem;
}
.pb4{
  padding-bottom: 4rem;
}
.pb3{
  padding-bottom: 3rem;
}
.pb2{
  padding-bottom: 2rem;
}
.pb1{
  padding-bottom: 1rem;
}
.pl_4{
  padding-left: 4%;
}
.pl_2{
  padding-left: 2%;
}
.pl11{
  padding-left: 11rem;
}
.pl{
  padding-left: 2rem;
}
.pr2{
  padding-right: 2rem;
}
.pl15{
  padding-left: 1.5rem;
}
.pr15{
  padding-right: 1.5rem;
}
.pr37{
  padding-right: 37rem;
}
.pr4{
  padding-right: 4rem;
}
.p7_0{
  padding: 7rem 0;
}
.p03{
  padding: 0 3rem;
}
.p05{
  padding: 0 5rem;
}
.p4{
  padding: 4rem;
}
.p1{
  padding: 1rem;
}
.p2{
  padding: 2rem;
}
.p3{
	padding: 3rem;
}
.p4{
  padding: 4rem;
}
.p5{
  padding: 5rem;
}
.mr2{
  margin-right: 2.2rem;
}
.mr1{
  margin-right: 1rem;
}
.w100{
  width: 100%;
}
.m0{
  margin: 0;
}
.m0-5{
  margin: 0 -5rem!important;
}
.p05{
  padding: 0 5rem;
}
.p04{
  padding: 0 4rem;
}
.p03{
  padding: 0 3.5rem;
}
.p02{
  padding: 0 2rem;
}
.pb15{
  padding-bottom: 15rem;
}
.pb18{
  padding-bottom: 18rem;
}
.pb20{
  padding-bottom: 20rem;
}
.p2_3{
  padding: 2rem 3rem;
}
.p5_2{
  padding: 5rem 2rem;
}
.p7_2{
  padding: 7rem 2rem;
}
.g1{
  gap: 1rem;
}
.g2{
  gap: 2rem;
}
.g3{
  gap: 3rem;
}
.g4{
  gap: 4rem;
}
.g5{
  gap: 5rem;
}
.g10{
  gap: 10rem 0;
}

/*width*/
.container { width: 96%;max-width: 1224px;margin: 0 auto;
}
.container.c9 { width: calc(100% - 80px);max-width: none; }
.container.c700 { max-width: 700px; }
.container.c900 { max-width: 900px; }
.container.c11 { max-width: 1100px; }
.container.c12 { max-width: 1200px; }
.container.c13 { max-width: 1300px; }
.container.c14 { max-width: 1400px; }
.container.c15 { max-width: 1546px; }
.container.c16 { max-width: 1600px; }
.container.c17 { max-width: 1775px; }
.container.c18 { max-width: 1800px; }
.container.c19 { max-width: 1900px; }


.w5{width: 5%;}
.w10 {width: 10%;}
.w13 {width: 13%;}
.w15 {width: 15%;}
.w20{width: 20%;}
.w21{width: 21%;}
.w25{width: 25%;}
.w28{width: 28%;}
.w30{width: 30%;}
.w33{width: 33%;}
.w35{width: 35%;}
.w40{width: 40%;}
.w45{width: 45%;}
.w49{width: 49%;}
.w50{width: 50%;}
.w55{width: 55%;}
.w60{width: 60%;}
.w65{width: 65%;}
.w70{width: 70%;}
.w73{width: 73%;}
.w75{width: 75%;}
.w80{width: 80%;}
.w83{width: 83%;}
.w85{width: 85%;}
.w90{width: 90%;}
.w100{width: 100%;}

.col1{width: calc(100% - 10px)}
.col11{width: calc(100% - 20px)}
.col22{width: calc(100%/2 - 5px);}
.col2{width: calc(100%/2 - 10px);}
.col3{width: calc(100%/3 - 10px);}
.col33{width: calc(100%/3 - 20px);}
.col333{width: calc(100%/3 - 30px);}
.col4{width: calc(100%/4 - 10px);}
.col44{width: calc(100%/4 - 20px);}
.col5{width: calc(100%/5 - 10px);}
.col6{width: calc(100%/6 - 20px);}
.col8{width: calc(100% - 100%/3 - 5px)}
.col9{width: calc(100% - 100%/4 - 5px)}
.row1{width: 100%;}
.row2{width: calc(100%/2);}
.row3{width: calc(100%/3);}
.row4{width: calc(100%/4);}
.row5{width: calc(100%/5);}
.mw35{max-width: 35rem;}
.mw38{max-width: 38rem;}

.h100 { height: 100%; }

.center { text-align: center; }
.right{ text-align: right;}
.left{text-align: left;}
.underline{
	text-decoration: underline;
	font-style: italic;
}

.br10{
  border-radius: 1rem;
}
.mw-50{
  max-width: 50% !important;
}
a{
  display: block;
}

.main{
  flex-grow: 1;
}
// :root {
//   --main1: #0d2643;
//   --accent1: #e0bb4d;
//   --accent2: #0054a6;
//   --mainfont: Assistant;
//   //--alef: 'Alef', sans-serif;

// }
.no-wrap{
  flex-wrap: nowrap;
}
h1, h2,h3,h4{
  line-height: 0.9;
  margin-bottom: 1rem;
}
/*typography*/
.t_bold{
	h1,h2,h3,h4{
		font-weight: 600;
	  }
}
.t_77{
  h1,h2,h3,h4{
	font-size: 7.7rem;
	font-weight: 400;
  }
}
.t_60{
  h1,h2,h3,h4{
	font-size: 6rem;
	font-weight: 400;
  }
}
.t_55{
  h1,h2,h3,h4{
	font-size: 5.5rem;
	font-weight: 400;
  }
}
.t_49{
  h1,h2,h3,h4{
	font-size: 4.9rem;
	font-weight: 400;
  }
}
.t_48{
  h1,h2,h3,h4{
	font-size: 4.8rem;
	font-weight: 400;
  }
}
.t_45{
  h1,h2,h3,h4{
	font-size: 4.5rem;
	font-weight: 400;
	margin-bottom: 0 !important;
  }
}
.t_40{
  h1,h2,h3,h4{
	font-size: 4rem;
	font-weight: 700;
  }
}
.t_38{
  h1,h2,h3,h4{
	font-size: 3.8rem;
	font-weight: 400;

  }
}
.t_36{
  h1,h2,h3,h4{
	font-size: 3.6rem;
	font-weight: 700;

  }
}
.t_35{
  h1,h2,h3,h4,a{
	font-size: 3.6rem;
	font-weight: 400;

  }
}
.t_30{
  h1,h2,h3,h4,a{
	font-size: 3rem;

  }
}
.t_24{
  h1,h2,h3,h4,a{
	font-size: 2.4rem;
  }
}
.t_21{
  h1,h2,h3,h4{
	font-size: 2.1rem;
	font-weight: 400;
  }
}
.t_20{
  h1,h2,h3,h4,a{
	font-size: 2.0rem;
	font-weight: 400;
  }
}
.t_18{
  h1,h2,h3,h4,a{
	font-size: 1.8rem;
	font-weight: 400;
  }
}
.t_17{
  a, span{
	font-size: 1.7rem;
  }
}

.p_36{
  p{
	font-size: 3.6rem;
	font-weight: 400;
  }
}
.p_30{
  p, span{
	font-size: 3rem;
	font-weight: 400;
  }
}
.p_28{
  p{
	font-size: 2.8rem;
	font-weight: 400;
  }
}
.p_24{
  p{
	font-size: 2.4rem;
	font-weight: 400;
  }
}
.p_20{
  p{
	font-size: 2rem;
	font-weight: 400;
  }
}
.p_18{
  p{
	font-size: 1.8rem;
	font-weight: 400;
  }
}
.p_17{
  p{
	font-size: 1.7rem;
	font-weight: 400;
  }
}
.t-p_bold{
  p{
	font-size: 3rem;
	strong{
	  font-weight: 700;
	  font-size: 4rem;
	}
  }
}
.p_line1_2{
  p{
	line-height: 1.2;
  }

}

.aligncenter{
  margin: 0 auto;
}
.alignleft{
  margin-left: 0;
  margin-right: auto;
}
.alignright{
  margin-right: 0;
  margin-left: auto;
}
.alignsrt{
  align-items: stretch;
}
.t_accent{

  h1,h2,h3,h4{
	position: relative;
	display: inline-block;
	margin-bottom: 2rem;
	&:after{
	  position: absolute;
	  content: '';
	  width: 4.5rem;
	  height: 4.5rem;
	//   background-image: url("../icons/wheel.png");
	  background-size: contain;
	  background-repeat: no-repeat;
	  left: 0;
	  top: -5px;
	  transform: translateX(-121%);
	}
	&:before{
	  position: absolute;
	  content: "";
	  width: 4.5rem;
	  height: 4.5rem;
	//   background-image: url(../icons/wheel.png);
	  background-size: contain;
	  background-repeat: no-repeat;
	  right: 0;
	  top: -5px;
	  transform: translateX(121%);
	}
  }
}
.tt_accent{
  background: #F4C662;
  background: -webkit-linear-gradient(to bottom, #F4C662 0%, #EB964A 100%);
  background: -moz-linear-gradient(to bottom, #F4C662 0%, #EB964A 100%);
  background: linear-gradient(to bottom, #F4C662 0%, #EB964A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.t_accent1{
  h1,h2,h3,h4{
	font-weight: 400;
	strong{
	  font-weight: 700;
	}
  }
}
.t_white{
  h1,h2,h3,h4,a{
	color: #FFFFFF;
  }
}
.t_accent_color{
  h1,h2,h3,h4{
    color: $accent;
  }
}
.p_white{
  p{
    color: $white;
  }
}
.t_section{
  h2,h3{
	font-size: 4.8rem;
	color: $main;
	strong{
	  color: $accent;
	  font-weight: 700;
	}
  }
}
.white{
  *{
	color: $white;
  }
}
.black{
  h1,h2,h3,h4,a,p,span,li{
	color: #000000 !important;
  }
}
.main-color{
  color: $main;
  h1,h2,h3,h4,h5, a,p, span{
	color: $main;
  }
}
.accent-color{
  color: $accent;
  h1,h2,h3,h4,h5, a,p, span{
	color: $accent;
  }
}
//.accent-color{
//  h1,h2,h3,h4,h5, a,p, span{
//	background: #F4C662;
//	background: -webkit-linear-gradient(to bottom, #F4C66ma2 0%, #EB964A 100%);
//	background: -moz-linear-gradient(to bottom, #F4C662 0%, #EB964A 100%);
//	background: linear-gradient(to bottom, #F4C662 0%, #EB964A 100%);
//	-webkit-background-clip: text;
//	-webkit-text-fill-color: transparent;
//  }
//}
.p_bold{
  font-weight: 700;
  a, p, li{
	font-weight: 700;
  }

}
.t_bold{
  font-weight: 700;
  h1,h2,h3,h4{
	font-weight: 700;

  }
}
.f_accent{
  h1,h2,h3,h4,a,p{
	font-family:'almoni-tzar'
  }

}
.z99{
  z-index: 99;
}

.z9999{
  z-index: 9999;
}
.lh1_5{
  line-height: 1.5;
}
.lh1_2{
  line-height: 1.2;
}
.title_line{
  h1,h2,h3,h4{
	position: relative;
	display: block;
	padding-left: 2rem;
	margin-bottom: 2rem;
	&:after{
	  position: absolute;
	  content: '';
	  height: 3px;
	  width: 100%;
	  bottom: -1rem;
	  left: 0;
	  right: 0;
	  background-color: #FFFFFF;
	}
  }
}
.main-link{
  color: $main;
  position: relative;
  padding-left: 4rem;
  display: inline-block;
  font-size: 3rem;
  &:after{
	position: absolute;
	content: '';
	width: 6rem;
	height: 2rem;
	// background-image: url("../icons/arrow-left2.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 2rem;
	top: 27%;
	transition: all .5s;
  }
  &:hover{
	//color: inherit;

	&:after{
	  background-position: 1rem;
	}

  }
}
/*hover*/
.hover-scale{
  transition: all .5s;
  &:hover{
	transform: scale(1.04);
  }
}
.hover-shadow{
  transition: all .5s;
  &:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}
.hover_move{
  position: relative;
  overflow: hidden;
  display: inline-block;
  min-width: 30rem;

  &:after{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	background-color: $accent;
	left: 0;
  }
  &:before{
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	bottom: 0;
	background-color: $accent;
	left: -102%;
  }
  &:hover{
	&:after{
	  transition: all 1s;
	  left: 100%;
	}
	&:before{
	  transition: all 1s;
	  transition-delay: 0.5s;
	  left: 0;
	}
  }
}
.hover_color{
  display: block;
  &:hover{
	color: $accent;
	transition: color .5s;
  }
}
.hover-line{
  a{
	line-height: 1.2;
	display: inline-block!important;
	&:after{
	  display: block;
	  content: '';
	  height: 2px;
	  background-color: $accent-dark;
	  width: 0;
	  transition: width 0.4s ease-in-out;
	}
	&:hover:after{
	  width: 100%;
	}

  }
}
.hover_height{
  &:hover{
	min-height: 54rem;
	transition: all .5s;
  }
}

.fixed-form {
  position: sticky;
  top: 0px;
  z-index: 999;
  height: 100%;
}
/*bg*/
.bg-no-repeat{
  background-repeat: no-repeat;
}
.bg-cover{
  background-size: cover;
}
.bg-contain{
  background-size: contain;
}
.bg-center{
  background-position: center;
}
.bg-accent{
  background-color: $accent;
}
.bg-main{
  background-color: $main;
}
.bgplb{
  background-position: left bottom;
}

/*btns*/
.btn_main{
  background-color: $accent;
  padding: 1rem 2rem;
  color: $white;
  font-size: 2.1rem;
  font-weight: 400;
  transition: all .5s;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
    border: none;

  &:hover{
	background-color: transparent;
	border: 1px solid $accent;
  }
}
//hh
.btn_accent{
  background-color: $accent;
  color: $main !important;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.4;
  border: none;
  border-radius: 1rem;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 5.5rem;
  &:after{
	position: absolute;
	content: '';
	display: block;
	width: 3.5rem;
	height: 3.5rem;
	// background-image: url("../icons/arrow-left.png");
	background-repeat: no-repeat;
	background-size: contain;
	left: 7px;
	top: 50%;
    transform: translateY(-50%);
	transition: all .5s;
  }
  &:hover{
	//left: 3rem;
	background-color: transparent;
	border: 2px solid $accent;
    input{
      color: $accent!important;
    }

  }

}
.btn_transp_main{
  font-size: 3rem;
  color: $main;
  //border: 1px solid $accent;
  position: relative;
  display: block;
  padding-left: 3rem;
  font-weight: 700;
  &:after{
	content: '';
	position: absolute;
	// background-image: url("../icons/arrow-left.png");
	width: 1.5rem;
	height: 1.6rem;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .5s;
	transform: translateY(10px) translateX(-10px);
  }
  &:hover:after{
	transform: translateY(10px) translateX(-35px);
  }
}
.btn_transp_accent{
  font-size: 3rem;
  color: $accent;
  //border: 1px solid $accent;
  position: relative;
  display: block;
  padding-left: 3rem;
  &:after{
	content: '';
	position: absolute;
	// background-image: url("../icons/arrow-left2.png");
	width: 1.5rem;
	height: 1.6rem;
	background-size: contain;
	background-repeat: no-repeat;
	transition: all .5s;
	transform: translateY(10px) translateX(-10px);
  }
  &:hover:after{
	transform: translateY(10px) translateX(-35px);
  }
}
.btn_arrow{
  color: $accent !important;
//   background-image: url(../icons/arrow-left.png);
  background-size: 11px 8px;
  background-position: 14px center;
  background-repeat: no-repeat;
  padding-left: 3rem;
  transition: all .5s;
  &:hover{
	background-position: 3px center;
	transition: all .5s;
  }
}
.btn_arrow_down{
  input[type=submit], a, button{
	color: #FFFFFF !important;
	background-color: $main;
	// background-image: url(../icons/arrow-down-w.png);
	background-size: 13px 16px;
	background-position: 2rem center;
	background-repeat: no-repeat;
	padding: 0.5rem 3rem;
	padding-left: 5rem;
	transition: all 0.5s;
	font-size: 3rem;
	border-radius: 2.5rem;
	&:hover{
	  background-position: 2rem 3rem;
	  transition: all .5s;
	}
  }
}
.btn_transp_border{
  font-size: 2.3rem;
  color: $main;
  border: 1px solid $main;
  padding: 0.5rem 1rem;
}
.btn_white{
  background-color: $white;
  padding: 0.5rem 2rem;
  color: $main !important;
  font-weight: 700;
  font-size: 3rem;
  transition: all .5s;
  //display: inline-block;
  line-height: 1.4;
  border: none;
  border-radius: 1rem;
  position: relative;
  padding-left: 5.5rem;
  width: 100%;
  &:after{
	position: absolute;
	content: '';
	display: block;
	width: 2.5rem;
	height: 2.5rem;
	// background-image: url("../icons/arrow-single-left.png");
	background-repeat: no-repeat;
	background-size: contain;
	left: 22px;
	top: 25%;
	transition: all .5s;
  }
  &:hover:after{
	left: 10px;
  }
}
.btn_accent1{
  background-color: $accent;
  color: $main;
  font-weight: 700;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
}


li{
  list-style-type: none;
}
ul[class],li[class] {
  list-style: none;
}


/*menu btn*/
.main-nav{
  position: relative;
}
.mob-nav-btn{
  height: 5.4rem;
  width: 5.4rem;
  display: block;
  background-color: $accent;
  border: 1px solid #ffffff;
  position: relative;
  span{
	display: block;
	height: 2px;
	width: 70%;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	opacity: 1;
  }
}
.mob-nav-btn span:nth-child(1) {
  -webkit-transform: translate(-50%, -13px);
  transform: translate(-50%, -13px);
}
.mob-nav-btn span:nth-child(2) {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mob-nav-btn span:nth-child(3) {
  -webkit-transform: translate(-50%, 11px);;
  transform: translate(-50%, 11px);;
}
.h_social-mob {
  display: none;
}
.triggers-col{
  display: none;
}

/*end menu btn*/


.accent1{
  color: $accent;
}
.accent2{
  color: $accent-dark;
}
h1,h2,h3,h4{
  line-height: 0.9;
  margin-bottom: 1rem;
}
.seo-slider{
  height: 100%;
}
.arrow-link{
  position: relative;
//   background-image: url("../icons/arrow-link.png");
  background-repeat: no-repeat;
  padding-left: 2.4rem;
  background-position: 3px center;
  transition: all .5s;
}
.arrow-link:hover{
  background-position: left center;
  transition: all .5s;
}
.link_36{
  font-size: 3.6rem;
  color: #242ab5;
  font-weight: 700;
}

/*section figures (bg)*/
.figure{
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
}
.section-figure_1{
  position: relative;
  &:after{
	content: "";
	width: 100%;
	height: 15rem;
	// background-image: url(../img/figure1.png);
	background-position: bottom;
	background-size: 100% 100%;
	left: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
  }

}
.section-figure_2{
  position: relative;
  &:after{
	content: "";
	width: 100%;
	height: 5rem;
	// background-image: url(../img/figure2.png);
	background-position: bottom;
	background-size: 100% 100%;
	left: 0;
	top: -4rem;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
  }
}
.section-figure_3{
  &:after{
    content: "";
    width: 100%;
    height: 5rem;
    // background-image: url(../img/figure3.png);
    background-position: bottom;
    background-size: 100% 100%;
    left: 0;
    top: -4rem;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
  }
}
.wow{
  visibility: hidden;
}


/*form*/
input[type="text"], input[type="email"],input[type="tel"],input[type="password"], textarea, select {
//   direction: rtl !important;
  color: $main;
  font-size: 1.6rem;
  line-height: 2.5rem;
  background-color: $white;
  background-size: 1.8rem;
  background-position: calc(100% - 11px) center;
  background-repeat: no-repeat;
  padding: 1rem;
  padding-right: 3.5rem;
  border: none;
  border-radius: 1rem;
  //box-shadow: 0 0 10px rgba(0,0,0,0.5);
  //font-family: almoni-tzar;
}
input[type="email"] {
//   background-image: url(../icons/email.png);

}
input[type="tel"] {
//   background-image: url(../icons/tel-form.png);
}
select{
//   background-image: url("../icons/chat.png");
}
input[type="text"] {
//   background-image: url(../icons/name.png);
}
div.wpcf7 textarea{
//   background-image: url(../icons/mess.png);
  background-size: 2.8rem;
  padding-right: 5rem;
  //height: 9.7rem;
  background-position: calc(100% - 11px) 10px;
  width: 100%;
  height: 5.2rem;
}
div.wpcf7 input[type=submit]{
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
  //background: rgb(235,150,74);
  //background: linear-gradient(0deg, rgba(235,150,74,1) 0%, rgba(244,198,98,1) 100%);
  color: $main;
  //font-family: almoni-tzar;
  //padding: 1.1rem;
  //font-size: 1.8rem;
  //line-height: 1.4;
  //border: none;
  //background-image: url(../icons/btn_arrow.png);
  //background-size: 1.8rem;
  //background-position: 10% center;
  //background-repeat: no-repeat;
}
.ajax-loader{
  position: absolute!important;
}
select{

}
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder
{
  font-size: 1.6rem;
  font-family: var(--alef);
  color: $main !important;
}
.formColumn{
	display: flex;
    flex-direction: column;
    gap: 1rem;
}

/*popup*/
.popup{
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity .5s;
  &.show-popup {
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s;
    overflow: scroll;
  }
  //.btn__close:before,
  //.btn__close:after{
  //  background-color: white!important;
  //}
  span.pop-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("../icons/close.png");
    background-repeat: no-repeat;
    background-size: contain;
    &:active{
      transform: scale(0.9);
    }
  }
}
.pop-form {
  .float-form {
    position: relative;
	transition: all .5s;
	z-index: 99999999999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 6rem 7.2rem 3rem;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	width: 100%;
	border-radius: 2rem;
	background-color: $main;

	.form__item{
	  //max-width: 69rem;
	}


  }

}

#go-top{
  position: absolute;
  width: 9rem;
  height: 10rem;
  z-index: 999;
  cursor: pointer;
  right: 3%;
  top: 2rem;
  animation: jump-top 1.2s ease-in-out alternate infinite;
  img{

  }
  .go-top-text{
	font-size: 2.4rem;
	text-align: center;
	color: #FFFFFF;
  }
}
.fixed-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: .5rem;
  z-index: 9999;
  gap: 1rem;
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
/* end custom settings*/
