@import "../../assets/styles/vars";
// .seq__wrap{
// 	background-color: $accent;
// }
.task_inner-top{
	position: relative;
	.task__text{
		position: absolute;
		background-color: $accent;
		padding: 2rem;
		width: 50rem;
		border-radius: 2rem;
		border: 2px solid;
		z-index: 9;
		button{
			line-height: 1.5;
			min-width:6rem;
		}
	}
	.more__info{
		position: absolute;
		background-color: white;
		border: 2px solid;
		margin-left: 4rem;
		padding: 2rem;
		width: 50rem;
		border-radius: 2rem;
		z-index: 9;
		.more__info-item{
			span:first-child{
				font-weight: 300;
			}
			span:last-child{
				font-weight: 800;
			}
		} 
	}
}
.editorContainer{
	width: 50rem;
	
	.ql-editor{
		height: 20rem;
		
	}
}
.ql-container{
	font-size: 1.6rem !important;
	font-family: inherit !important;
	.ql-tooltip.ql-hidden{
		height: 0;
	}
}
.task_todo{
	display: flex;
	flex-direction: column;
	min-height: 50rem;
	background-color: $white;
	border: 6px solid;
	padding: 2rem;
	.task_content{
		flex-grow: 1;
		.seq__item{
			cursor: pointer;
			border: 1px solid $main;
			background-color: $accent;
			font-weight: 600;
			padding: 1rem;
			border-radius: 1rem;
			margin-bottom: 5px;
	
		}
	}
	
}
.task_data-item{
	.task__thumb img{
		width: 10rem;
	}
}
.task_content{
	position: relative;
	.success{
		text-align: inherit;
	}
	.fail{
		color: $error;
	}
	.popup__taskresult{
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
    left: 50%;
    top: 50%;
    width: 45rem;
    height: 20rem;
    border: 2px solid;
    border-radius: 2rem;
    background-color: white;
    padding: 2rem;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
	}
}


/* .App {
  text-align: center;
} */

/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
} */
.seq__wrap.group{
	position: relative;
	height: 12rem;
	
	.item{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 2rem;
		width: 40%;
		border: 1px solid $main;
		border-radius: 1rem;
		background-color: $white;
		text-align: center;
		font-weight: 600;
		font-size: 2.2rem;
		cursor: pointer;

		&:hover{
			box-shadow:  0 0 10px rgba(0,0,0,0.5);
			transition: 1s;
	
		}
		&.no-active{
			opacity: 0;
		}
	}
}
.box{
	height: 300px;
	background-color: $accent;
	padding: 1rem;
	border: 1px solid;
	border-radius: 1rem;
	margin-bottom: 2rem;
	h3{
		text-transform: capitalize;
		text-align: center;
		margin-bottom: 1rem;
	}
}
.items-container{
	height: 100%;
	width: 100%;
	.item{
		background-color: $white;
		border: 1px solid $main;
		border-radius: 1rem;
		padding: 0.5rem;
		margin-bottom: 5px;

	}
}